<script type="text/javascript">
$(document).ready(function () {
  window['<%= options[:container] %>'] = new Pointsable(<%= options.camelize_keys.to_json.html_safe %>);
  var p = window['<%= options[:container] %>'];
  /* before submitting, we update the input fields associated
  with the points to reflect their new coordinates */
  $('input[type="submit"]').on('click', function() {
    for (var i = 0; i<p.kineticPoints.length; i++) {
      var label = p.kineticPoints[i].getId();
      var sub_form = $("#"+p.container+'_sub_form');
      sub_form.find('fieldset.'+label+' input:nth-child(1)').val(p.realPoints[i].x);
      sub_form.find('fieldset.'+label+' input:nth-child(2)').val(p.realPoints[i].y);
    }
  });
  var addPointFormFields = function addPointFormFields(point){
    if ($('div#<%= options[:container] %>_sub_form .'+point.label).length==0) {
      var time = new Date().getTime()
      var templateDiv = $('div#'+p.container+'_fields_template');
      var template = templateDiv.data('fields');
      var regexpLabel = new RegExp("TMP_LABEL", 'g');
      template = template.replace(regexpLabel, point.label);
      var regexpNestedId = new RegExp(templateDiv.data('id'), 'g');
      template = template.replace(regexpNestedId, time);
      $('div#<%= options[:container] %>_sub_form').append(template);
    }
  }
  $('input[name="add_point"]').on('click', function() {
    p.addPoint({ x: 50, y: 50 })
  });
  $('#<%= options[:container] %>').on('pointAdded', function(e,point) {
    addPointFormFields(point);
  });
  var removePointWithField = function removePointWithField() {
    if(p.selectedPoint) {
      selectedPointLabel = p.selectedPoint.getId();
      p.removePoint(selectedPointLabel);
      $("fieldset[class='"+selectedPointLabel+"'] > input[class='destroy']").val('1');
    }
  };
  $('input[name="remove_point"]').on('click', function() {
    removePointWithField();
  });
});
</script>
<div id="<%= options[:container] %>"></div>
<div class="pointsable_buttons">
  <% if options[:add_points_widget] %>
    <input type="button" name="add_point" value="Add Point">
  <% end %>
  <% if options[:remove_points_widget] %>
    <input type="button" name="remove_point" value="Remove Point">
  <% end %>
</div>
<%= point_fields_template(f, options[:container]) %>
<div id="<%= options[:container] %>_sub_form">
  <%= f.fields_for :points do |builder| %>
    <%= render 'pointsable/points/point_fields', builder: builder if builder.object.label!="TMP_LABEL" %>
  <% end %>
</div>

