<h1>Listing images</h1>

<div>
<% @images.each do |image| %>

    <%= image.image %>
    <%= pointsable_show(image, viewing_width: 800) %>
    <%= link_to 'Show', image %>
    <%= link_to 'Edit', edit_image_path(image) %>
<% end %>
</div>

<br />

<%= link_to 'New Image', new_image_path %>
